.highlight-for-edit {
    background: none;
    animation: flashHighlight 3s;
}

@keyframes flashHighlight { 
  20%   { background: green; }
  100% { background: none; }
}

/* [contenteditable="true"].single-line {
    white-space: nowrap;
    width:200px;
    overflow: hidden;
} 

[contenteditable="true"].single-line br {
    display:none;

}

[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
} */
